/* blank slate */
*{
    box-sizing: border-box;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#wrapper{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.invis{
    visibility: hidden;
    margin: 0;
    height: 0;
    width: 0;
}

#nameBox{
    margin-top: auto;
    margin-bottom: auto;
}

#userList{
    position: absolute;
    margin: 1rem;
    left: 0;
    top: 0;
}

#msging{
    /* margin-bottom: auto; */
    /* margin-left: auto; */
}

#msgList{
    max-height: 60vh;
    overflow-y: scroll;
}

#msgBox{
    display:flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#errorText{
    color: #ff0000;
}